nodejs   lts
rust     latest
golang   latest
yq       latest
bat      latest
kind     latest
k9s      latest
starship latest
deno     latest
zig      latest
cmake    latest
stern    latest
yarn     latest
lima     latest
grpcurl  latest
zellij   latest
tilt     latest
k3d      latest
